<!--<a [href]="link"
   class="p-2 border border-slate-200 rounded-md inline-flex space-x-1 items-center 
          {{ bgColor }} {{ hoverBgColor }} {{ textColor }} {{ hoverTextColor }} {{ additionalClasses }}">
 
  <ng-container *ngIf="iconSvg" [innerHTML]="iconSvg"></ng-container>

  
  <ng-container *ngIf="iconImg">
    <img [src]="iconImg" alt="icon" class="w-4 h-4" />
  </ng-container>

 
  <span class="text-sm font-medium hidden md:block" *ngIf="label">{{ label }}</span>
</a>-->

<a *ngIf="link"
   [routerLink]="link"
   class="p-2 border border-slate-200 rounded-md inline-flex space-x-1 items-center 
          {{ bgColor }} {{ hoverBgColor }} {{ textColor }} {{ hoverTextColor }} {{ additionalClasses }}">
  <span *ngIf="iconSvg" [innerHTML]="iconSvg"></span>
  <img *ngIf="iconImg" [src]="iconImg" alt="icon" class="w-4 h-4" />
  <span class="text-sm font-medium hidden md:block" *ngIf="label">{{ label }}</span>
</a>


<button *ngIf="!link" (click)="handleClick($event)" 
        class="p-2 border border-slate-200 rounded-md inline-flex space-x-1 items-center 
               {{ bgColor }} {{ hoverBgColor }} {{ textColor }} {{ hoverTextColor }} {{ additionalClasses }}">
  <span *ngIf="iconSvg" [innerHTML]="iconSvg"></span>
  <img *ngIf="iconImg" [src]="iconImg" alt="icon" class="w-4 h-4" />
  <span class="text-sm font-medium hidden md:block" *ngIf="label">{{ label }}</span>
</button>
<!-- In CustomButtonComponent's template -->

