<div id="task-attachments-page">
    <app-header-component></app-header-component>
    <div>
        
        
        <app-custom-button
        label="Voltar"
        [iconSvg]="arrowSvg"
        bgColor="bg-indigo-600"
        hoverBgColor="hover:bg-indigo-500"
        textColor="text-white"
        hoverTextColor="hover:text-black"
        [onClick]="performRedirect">
        </app-custom-button>
       
        <app-attchments-list [data]=" taskAttachments" ></app-attchments-list>
    </div>
</div>