<header class="pb-2 px-5 bg-gray-100">
    <nav class="flex flex-row justify-between px-1 py-5 bg-gray-100">
        <a aria-current="page" href="/blog/" class="router-link-active router-link-exact-active">
            <span class="sr-only">Ir à listagem de blogs</span>
            <img onerror="this.setAttribute('data-error', 1)" width="160" height="38" alt="Logo" class="" >
        </a>
        <div class="flex flex-row  items-center gap-x-12">
            <div class="border-gray-500 border-solid border-2 rounded-md">
                <button type="button" class="inline-flex items-center gap-x-1.5 rounded-md bg-transparent px-3 py-2 text-sm font-semibold text-gray-600 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="pointer-events-none h-5 w-5 text-gray-600"><path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd"></path></svg>
                    <span class="line-clamp-1">Pesquisar um post</span></button>
            </div>
            <div class="hidden lg:block">
                <ul class="flex flex-row items-center justify-center gap-x-12">
                    <li>tarefas</li>
                    <li>notificações</li>
                    <li>perfil</li>
                </ul>
               
            </div>
        </div>

        <div class="">
            <div class="flex justify-between lg:hidden">
                <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                    <span class="sr-only">Abrir menu principal</span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path></svg>
                </button>
            </div>
            
        </div>
       
    </nav>
</header>