<div class="">
<div *ngFor="let item of data" >
  <ng-container 
    *ngTemplateOutlet="itemTemplate; context: { $implicit: item }">
  </ng-container>
  </div>
</div>
<div class="pagination-controls flex items-center justify-center space-x-4 py-4">
  
  <button 
    (click)="changePage(page - 1)" 
    [disabled]="page === 1"
    class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-500 disabled:bg-gray-300 disabled:cursor-not-allowed transition ease-in-out duration-150">
    Anterior
  </button>
  
 
  <span class="text-sm text-gray-600 font-medium">
    Página <span class="font-bold text-gray-800">{{ page }}</span> de <span class="font-bold text-gray-800">{{ totalPages }}</span>
  </span>
  
  
  <button 
    (click)="changePage(page + 1)" 
    [disabled]="page === totalPages"
    class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-500 disabled:bg-gray-300 disabled:cursor-not-allowed transition ease-in-out duration-150">
    Proximo
  </button>
</div>

  