<div id="home-page">
    <app-header-component></app-header-component>

   

    <div *ngIf="loading$ | async">
      Loading user data...
    </div>
    
    <div *ngIf="error$ | async as error" class="error">
      Error: {{ error | json }}
    </div>
    
    <div *ngIf="user$ | async as user" class="lg:px-12 mt-2 mb-2">
      <h1>BEM VINDO {{ user.firstName }}!</h1>
     
    </div>
  
    <div class="home-page-content lg:px-12 md:px-8 sm:px-4">

      <app-card-container></app-card-container>
      <div class="home-page-content__graphics">
        <div class="w-[700px]">
          <app-task-list-container></app-task-list-container>
        </div>
       
      
        <div class="app-chart-wrapper">
          <app-task-chart
          [tasks]="(tasksArray$ | async) || []"
          chartType="donut"
          chartTitle="Progressão das tarefas"
          [colors]="['rgb(79, 70, 229)', '#FF5722']">
          </app-task-chart>
        </div>
      </div>
      
    
      

    </div>
  
    <button (click)="onOpenModal()">Open</button>
  </div>
  